<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Hi Steve,</h4>
    <p>You have a new Lead.</p>
    <hr>
    <p>
        Name: {{ name }} <br>
        Email: {{ email }} </br>
        Detail: <br>
        <hr>
        {{ data }}
    </p>
</body>
</html>